html {
  /* 方便unocss计算：1单位 = 0.25rem = 1px */
  font-size: 4px;
}

body {
  font-size: 16px;
}

pre {
  font-size: 14px;
}

:root {
  /* vitepress css var  */
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-bg: #f1f0ea;
  --vp-sidebar-bg-color: #f1f0ea;

  /* prism css var change code theme */
  --prism-scheme: dark;
  --prism-foreground: #d4cfbf;
  --prism-background: #1e1e1e;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #64acff;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-number: #6394bf;
  --prism-boolean: #1c6b48;
  --prism-variable: #c2b36e;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888;
  --prism-line-number-gutter: #eee;
  --prism-line-highlight-background: #444;
  --prism-selection-background: #444;
}

.dark {
  --vp-c-bg: #1e1e20;
  --vp-sidebar-bg-color: #161618;
}
